
body
{
  font-family: 'Montserrat', sans-serif;  
  
}


/* Start navbar */


.navbar-light .navbar-brand 
{
     color: #B71226;
}


/* End navbar */



/* Start header */

.categories 
{
    border-bottom: 1px solid #E3E3E3;
}

.categories li
{

    border-right: 1px solid #E3E3E3;
    padding: 4px;
    
}

#last-li
{
    border-right: none;
}


.categories li:hover
{
    background-color: #E3E3E3;
    
}

.categories li a
{
    color: #B71226;
    font-weight: 600;

}

.categories li a:hover
{
    color: #333;
   
}


/* End header */




/* start caursol */
.carousel-inner
{
    height: 400px;
    margin-bottom: 10px;

}
.carousel-inner img{
    height: 100%;
}
/* end caursol */


/* start slick slider */

.who
{
    color: #B71226;
    font-weight: 600;
    font-size: 40px;
}

.slick-slider-container
{
    background-image: url("../image/box-3989090__340.jpg");
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}
.slick-slider-container .layout
{
    padding:40px 0 ; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.slick-prev:before, .slick-next:before
{
    font-size:27px;
}


.slider  a:hover{
    text-decoration: none;
}

.img-slider
{
    margin:auto;
}
.slider h3
{
    margin-top: 20px;
    text-align: center;
    color:#fff;
}
@media screen and (max-width:600px)
{
    .slick-prev
    {
        left: 1px;
    }
    .slick-next 
    {
        right:-8px;
    }
}

/* end slick slider */



/* Start random products */

.rand-pro a
{
    text-decoration: none;
}
.rand-pro a .protect-img
{
    overflow: hidden;
    position: relative;
} 
.rand-pro img
{
    transition: all 1s;
}
.rand-pro img:hover
{
    transform: scale(1.2,1.2);
}

.rand-pro a .protect-img:hover img
{
    transform: scale(1.2,1.2);
}
.rand-pro a .protect-img .img-container
{
    opacity: 0;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 1s;
}
.rand-pro a .protect-img:hover .img-container
{
    opacity:1;
}

.random-gifts
{
    color: gray;
    font-weight: 600;
    font-size: 30px;
}


.productName,.productPrice{
    font-weight: bolder;
    font-size: 20px;
    
}

.smallImg{
    cursor: pointer;
}
.fa-star{
    color: gold
}

.myDiv{
    width: 25%;
    height: 300px;
    background-image: url(../images/portfolio-1.jpg);
    background-size: cover;

    float: left;
    padding: 20px;
    border: 1px solid #000
}

/*   // for image border-radius
.imgBord{
    
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%
}
*/

a:active{
   color: aqua;
}



/* End Random products */

/* Start Footer */

.page-footer
{
    background-color: #f3f3f3;
}

.link-icon i
{
    cursor: pointer;
}

.icons .link-icon i:hover
{
    color: #E3E3E3;
}


.co-wr
{
    background-color: #DDD;
}

.links-size a
{
    font-size: 13px;
}

/* End Footer */
