
body
{
  font-family: 'Montserrat', sans-serif;  
  
}


/* slider saeid */

.nav-sa3id .nav-top-left a
{
    font-size: 50px;
}
.nav-sa3id .nav-top-right ul
{
    display: flex;
    width:100%;
    margin-top:20px;
    margin-bottom:10px;  
}   
.nav-sa3id .nav-top-right ul li a
{
    color: rgba(0,0,0,.5);
}
.nav-sa3id .bottom 
{
    background-color: #21d19341;
    font-weight: 600;
}
.nav-sa3id .bottom ul
{
    margin-top:20px;
    margin-bottom:0px;  
    display: flex;
    justify-items: center;
}
.nav-sa3id .bottom ul li
{
    position: relative;
    padding: 3px 0;
}
.nav-sa3id .bottom ul li:before
{
    content:'|';
    position: absolute;
    top:6px;
    font-size: 20px;
    color:#f3f3f39a;
}
.nav-sa3id .bottom ul li:first-of-type:before
{
    content:"";
}
.nav-sa3id .bottom ul li a
{
    color: #0056b3;
}
.nav-sa3id .bottom ul li a:hover
{
    color:#000;
}
.nav-sa3id .resp-nav .container-fluid
{
    display: flex;
    justify-content: space-around
}
.nav-sa3id .resp-nav
{
    display: none;
}
.btn-toggle
{
    background-color: #fff;
    border-radius: 5px;
    padding:5px ; 
    border:none;
    margin-right:10px;
}
.toggle-item
{
    height: 4px;
    background-color: #000;
    margin: 4px 0;
    width: 27px;
    border-radius: 10px;
}
@media screen and (max-width:1010px)
{
   
    .nav-sa3id .top .search
    {
        display: none;
    }
    .nav-sa3id .bottom
    {
        display: none;
    }
    .nav-sa3id .resp-nav
    {
        display: block;
    }
    .nav-sa3id .nav-top-right  .zizo
    {
        display: none;
    }
}

.sidenav
{
    width:250px;
    overflow: auto;
    position: fixed;
    left:-250px;
    top:0;
    bottom: 0;
    background-color:rgb(34, 143, 185);
    z-index:9999;
}
.list-group-item
{
    border-top: none;    
    background-color: transparent;
}
.sidenav-links
{
    font-size:18px;
    color:#fff;
}
.list-group-item-action:hover .sidenav-links
{
    text-decoration: none;
    color:#414658;
}
#close
{
    color:#fff;
    cursor: pointer;

}

 .navbar-brand 
{
    color: #135fafc4;
} 

/* End navbar */




/*start anniversary */

/*
.gifts-pro img:hover
{
    transform: scale(1.2,1.2);
    transition: all 1s;
}
*/

#anniversary h3 {
    font-size: 2rem;
    font-family: arial, sans-serif;
    color: #666;
    margin-bottom: .7rem;
    padding-top: 3.1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

#anniversary p {
    font-family: arial, sans-serif;
    font-size: 18.5px;
    font-weight: 300;
    color: #666;
    margin-bottom: 1rem;
    line-height: 2rem;
}

#anniversary .anniversary-item {
    position: relative;
}


#anniversary .anniversary-title {
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#anniversary .anniversary-title span {
    color: #fff;
    font-weight: 400;
    font-size: 19px;
}



/*end anniversary */


/* start budget */

#budget .budget-header {
    font-size: 1.5rem;
    font-family: arial, sans-serif;
    color: #666;
    text-transform: uppercase;
    position: relative;
    background-color: #fff;
    
}


#budget .budget-header::before
{
    content: "";
    height: 1px;
    width: 31%;
    background-color: #666;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}
#budget .budget-header::after
{
    content: "";
    height: 1px;
    width: 31%;
    background-color: #666;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

#budget  .anniversary-order 
{
    position: relative;
}

#budget  .anniversary-order  
{
    text-decoration: none;
    color: #fff;
}
#budget  .anniversary-order .anniversary-paper-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0,0,0,.7);
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width:991px)
{
    #budget .budget-header::before
    {
        width: 23%;
    }
    #budget .budget-header::after
    {
        width: 23%;
    }
}
@media (max-width:768px)
{
    #budget .budget-header
    {
        font-size: 1rem;
    }
        #budget .budget-header::before
    {
        width: 23%;
    }
    #budget .budget-header::after
    {
        width: 23%;
    }
}

/* start budget */

.fa-star{
    color: gold
}

/* End budget */


/* Start Products */

.product-item .img-container
{
    overflow: hidden;
}

.des-color
{
    color: #0056b3;
}

.gifts-pro .product-item a img:hover
{
    transform: scale(1.2,1.2);
    transition: transform 1.5s;
}

/* End Products */



/* Start Footer */

.page-footer
{
    background-color: #f3f3f3;
}

.link-icon i
{
    cursor: pointer;
}

.icons .link-icon i:hover
{
    color: #0057b3a8;
}


.co-wr
{
    background-color: #DDD;
}

.links-size a
{
    font-size: 13px;
}

/* End Footer */







