
body
{
  font-family: 'Montserrat', sans-serif;  
  
}





/* Start navbar */



/* End navbar */




/* Start header */

.categories 
{
    border-bottom: 1px solid #E3E3E3;
}

.categories li
{

    border-right: 1px solid #E3E3E3;
    padding: 4px;
    
}

#last-li
{
    border-right: none;
}


.categories li:hover
{
    background-color: #E3E3E3;
    
}

.categories li a
{
    color: #B71226;
    font-weight: 600;

}

.categories li a:hover
{
    color: #333;
   
}


/* End header */


/* start caursol */
.carousel-inner
{
    height: 750px;
}
.carousel-inner img{
    height: 100%;
}
/* end caursol */


/* start slick slider */


.slick-slider-container
{
    background-image: url("../image/IMG-20190908-WA0025.jpg");
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}
.slick-slider-container .layout
{
    padding:40px 0 ; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.slick-prev:before, .slick-next:before
{
    font-size:27px;
}
.slider  a:hover{
    text-decoration: none;
}
.img-slider
{
    margin:auto;
}
.slider h3
{
    margin-top: 20px;
    text-align: center;
    color:#fff;
}
@media screen and (max-width:600px)
{
    .slick-prev
    {
        left: 1px;
    }
    .slick-next 
    {
        right:-8px;
    }
}

/* end slick slider */

















/* Start Footer */

.page-footer
{
    background-color: #f3f3f3;
}

.link-icon i
{
    cursor: pointer;
}

.icons .link-icon i:hover
{
    color: #E3E3E3;
}


.co-wr
{
    background-color: #DDD;
}

.links-size a
{
    font-size: 13px;
}

/* End Footer */
